:root{
    --primary-color : #251e13;
}



.headermain{
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-between;
    padding: 0px 3%;
    border-bottom: 1px solid rgb(46 47 49);
    position: sticky;
    z-index: 5;
    top: 0px;
}

.navigation{
    width: fit-content;
    height: 70px;
    display: flex;
    column-gap: 30px;
}
.logo{
    width: fit-content;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.premium{
    width: fit-content;
    height: 30px;
    border: 2px solid rgb(192 162 96);
    padding: 4px 15px;
    border-radius: 25px;
    font-size: 12px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #c1a362;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.navLinks{
    width: fit-content;
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    align-items: center;
    color: #bcbcbc;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.navLink{
    padding: 24px 0px;
}
.navLink:hover{
    cursor: pointer;
    color: white;
    border-bottom: 4px solid #d9008d;
    transition-duration:0.3s;
}


/*  -------------- Now Search css ------------*/

.search{
    width: fit-content;
    height: 70px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.searchBox{
    width:fit-content;
    height: 45px;
    background-color: #3a342b;
    border-radius: 25px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0px 15px;
}
.headerIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerIcon:hover{
    background-color: rgb(255, 255, 255,0.1);
}

.searchInput{
    height: 30px;
    width: 200px;
    background-color: #3a342b;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: medium;
}


.usericon{
    height:40px;
}

.searchedItems{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 10;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 50px 0px 0px 50px;
}